@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1 : 'Passion One', cursive;
    --fonte2 : 'Sriracha', cursive;
}
html,body{
    padding: 0px;
    margin: 0px;
}
body{
    max-width: 800px;  
    min-height: 100vh;
    background-color: darkgray;
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
header {
    font-family: var(--fonte1);
    font-size: 4vw;
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    padding: 30px;

}

header a {
    font-size: 16px;
    color: white;
}
header a:hover {
    color: rgb(163, 163, 245);
}
header p {
    margin: -27px;
    padding: 30px;
}

article{
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 4vw;
}

article.normal{
    background-color: white;
    color: black;
}

article.img_fundo{
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

article.img_fundo > pre {
    background-color: rgba(0, 0, 0, 0.116);
    color : white;
    width: 300px;
}

pre {
    font-family: var(--fonte2);
    text-align: left;
}

#img01 {
    background-image: url(../imagens/background001.jpg); 
}
#img02 {
    background-image: url(../imagens/background002.jpg);
}
